name: telegram message
on: [push]

jobs:
  telegram-notify:
    name: Telegram Notify
    runs-on: ubuntu-latest
    steps:
      - name: Try to fail
        run: exit 1

      - name: send deployment status to telegram
        if: always()
        uses: appleboy/telegram-action@master
        with:
          to: 328778709
          token: 5373201124:AAGLLJo3BhDPsDI0h0c01JzTbRRdW0Gj4g0
          message: |
            Deployment - ${{ job.status }}
            Service: ${{ github.repository }}
            Env: ${{ github.head_ref }}

            Author: ${{ github.actor }}
            Run: https://github.com/${{ github.repository }}/actions/runs/${{github.run_id}}
